@font-face {
    font-family: "replay";
    src: url("../img/replay.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.98);
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.topnav a:hover {
    background-color: #444;
    cursor: pointer;
}

.topnav a.active {
    background-color: seagreen;
    color: #fff;
}

.topnav .icon {
    display: none;
}

main {
    height: 95vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/laptop_rigth_2k.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

article {
    visibility: hidden;
	opacity: 0;
	display: none;

}

.show {
	visibility: visible;
	opacity: 1;
	display: block;
}

#leftData {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
}

#mantra {
    font-family: 'replay', 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: #eee;
}

#personalData {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 2rem 0;
}

#personalData img {
    padding: 0 1.75rem;
    height: 75px;
}

#projects {
    transform-style: preserve-3d;
    justify-content: center;
}

.project {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 20px 0;
    /*background: rgba(90, 90, 90, 0.1);*/
    transform-style: preserve-3d;
}

.project:hover {
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.1);
}

.project .imgProject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project .contentProject {
    position: absolute;
    top: 35%;
    left: 20px;
    right: 20px;
    background: #fff;
    transform: translateZ(20px) scaleY(0);
    padding: 25px 15px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.project:hover .contentProject {
    transform: translateZ(50px) scaleY(1);
}

.project a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
}

#contentContact {
    display: flex;
    max-width: 40%;
}

#iconContact {
    flex: 75px;
}

#textContact {
    flex: 90%;
}

#contact p, a {
    color: #eee;
    font-size: 2rem;
    text-decoration: none;
}

#contact img {
    padding: 0 1.75rem;
    height: 75px;
}

/*Tablet o mobil apaisat*/
@media screen and (max-width: 1024px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    #mantra {
        font-size: 3rem;
    }

    #leftData {
        margin-left: 0.75rem;
    }

    #personalData img {
        padding: 0 0.75rem;
        height: 45px;
    }

    .project {
        position: relative;
        width: 300px;
        height: 200px;
        margin: 0.75rem 0;
        transform-style: preserve-3d;
    }

    .project .imgProject img {
        height: 200px;
    }

    #contentContact {
        display: flex;
        max-width: 40%;
    }
    
    #iconContact {
        flex: 50px;
    }

    #contact p, a {
        color: #eee;
        font-size: 1.5rem;
        text-decoration: none;
    }

    #contact img {
        padding: 0 0.75rem;
        height: 50px;
    }
}

/*Mobil vertical*/
@media screen and (max-width: 512px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    #mantra {
        font-size: 2rem;
    }

    #leftData {
        margin-left: 0.5rem;
    }

    #personalData img {
        padding: 0 0.5rem;
        height: 35px;
    }

    .project {
        position: relative;
        width: 250px;
        height: 150px;
        margin: 0.5rem 0;
        transform-style: preserve-3d;
    }

    .project .imgProject img {
        height: 150px;
    }
    #contentContact {
        display: flex;
        max-width: 30%;
    }
    
    #iconContact {
        flex: 30px;
    }

    #contact p, a {
        color: #eee;
        font-size: 1rem;
        text-decoration: none;
    }
    
    #contact img {
        padding: 0 0.5rem;
        height: 30px;
    }
  }